email.receiver=RECEIVER_EMAIL@gmail.com
email.subject=Logs has been downloaded to FTP server!
email.body=Logs has been downloaded!
filename.included.in.email=true
mail.smtp.host=smtp.gmail.com
mail.smtp.socketFactory.port=465
mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
mail.smtp.auth=true
mail.smtp.port=465
mail.smtp.password=YOUR_PASSWORD
mail.smtp.user=USER@gmail.com